<div class="card mb-3 mt-1 shadow-sm">

  <!-- Отображение картинки -->
  {% load thumbnail %}
  {% thumbnail deal.image "960x960" crop="center" upscale=True as im %}
  <img class="card-img" src="{{ im.url }}" />
  {% endthumbnail %}
  <div class="card-body">
    <p class="card-text">
      <a name="deal_{{ deal.id }}" href="{% url 'deals:view_deal' deal.id %}">
        <strong class="d-block text-gray-dark">!{{ deal.title }}</strong>
        {% if deal.sub_deals.exists %}
        <div>
          Пунктов в этом задании: {{ deal.sub_deals.count }}
        </div>
        {% endif %}
      </a>
      {{ deal.text|linebreaksbr }}
    </p>

    {% if deal.group %}
    <a class="card-link muted" href="{% url 'deals:group_deals' deal.group.slug %}">
      <strong class="d-block text-gray-dark">#{{ deal.group.title }}</strong>
    </a>
    {% endif %}

    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <a class="btn btn-sm btn-primary" href="{% url 'deals:edit_deal' deal.id %}" role="button">
          <span style="color:transparent">________</span>&#9999<span style="color:transparent">________</span>
        </a>

        {% if deal.status == NOT_DONE %}
        <a class="btn btn-sm btn-info" href="{% url 'deals:done_deal' deal.id %}" role="button">
          <span style="color:transparent">________</span>&#9989<span style="color:transparent">________</span>
        </a>
        {% elif deal.status == DONE %}
        <a class="btn btn-sm btn-info" href="{% url 'deals:undone_deal' deal.id %}" role="button">
          <span style="color:transparent">________</span>&#10062<span style="color:transparent">________</span>
        </a>
        {% endif %}
      </div>

      <small class="text-muted"></small>
    </div>
  </div>
</div>